body{
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 50%;
}
img{
   height: 20px;
    position: relative; /* Keep it in normal document flow */
    top: 0; /* Make sure it's at the top of the page */
}
button.shi{
    margin-left: 10px;
}


button{
    
    background-color: forestgreen;
   height: 25px;
    position: relative; /* Keep it in normal document flow */
    
    
}
 a{
    text-decoration: none;
 }

 .top-image-container {
    display: flex;
    position: relative;
    width: 100%;
    text-align: center; /* Optional: center the image horizontally */
    flex-direction: row;
    padding: 20px;

}
