* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: contain;
    background-attachment: fixed;
    height: 50%;
}
button{
    
    background-color: forestgreen;
}
 a{
    text-decoration: none;
 }
